{% extends 'part3/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <div class="container">
        <h1 class="mt-5">About Electic</h1>
        <p class="lead">Electic is a web application that provides an easy and intuitive way to build and customize your own computer. Whether you're a gaming enthusiast, a professional designer, or a casual user, Electic allows you to create the perfect PC tailored to your specific needs and preferences.</p>
    
        <h2 class="mt-5">Explore a Vast Selection of Components</h2>
        <p>With Electic, you have access to an extensive range of high-quality computer components. You can browse through different categories, including Hard Disk Drives (HDD), Random Access Memory (RAM), Operating Systems (OS), Graphics Processing Units (GPU), and Central Processing Units (CPU). Each category showcases a variety of options from well-known brands, ensuring you have the flexibility to choose components that meet your performance requirements and budget.</p>
    
        <h2 class="mt-5">Customize Your Computer</h2>
        <p>Electic lets you fully customize your computer by selecting the components that best suit your needs. As you navigate through the app, you can view detailed information about each component, including its specifications, compatibility, and price. The user-friendly interface allows you to easily compare different options and make informed decisions.</p>
    
        <h2 class="mt-5">Build Your Dream Computer</h2>
        <p>Once you've selected the desired components, you can add them to your virtual computer. Electic provides a seamless experience for building your dream computer. You can swap components, upgrade specifications, and visualize your computer configuration. Whether you're a tech-savvy individual or new to computer building, Electic makes the process effortless and enjoyable.</p>
      </div>


{% endblock %}
