{% extends 'part3/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Contact Electic</h1>

    <h2 class="mt-5">Get in Touch</h2>
    <p>If you have any questions, feedback, or inquiries, please don't hesitate to contact us. Our team is here to assist you.</p>

    <h2 class="mt-5">Contact Information</h2>
    <ul>
      <li>Email: <a href="mailto:info@electic.com">info@electic.com</a></li>
      <li>Phone: +1 (123) 456-7890</li>
    </ul>

    <h2 class="mt-5">Office Address</h2>
    <p>123 Main Street, Toronto, ON M1A 2B3, Canada</p>

    <h2 class="mt-5">Social Media</h2>
    <ul>
      <li><a href="https://www.facebook.com/electic">Facebook</a></li>
      <li><a href="https://www.twitter.com/electic">Twitter</a></li>
      <li><a href="https://www.instagram.com/electic">Instagram</a></li>
    </ul>
</div>

  {% endblock %}